body {background-image:url('lila.gif');}
nav {
	text-align: center;
	font-weight: bold;
}
nav ul li {
	display: inline-block;
	padding: 6em 7em 9em 6em;
}
#navigation a {
	text-decoration: none;
	background-color: #5B80EE;
	border: black solid;
	color: black;
	padding: 0.5em;
	border-radius: 0.5em;
}
#navigation a:hover {
	color: white;
}