
body {
	background-image:url('greenblue.gif');
	font-family: 'Rambla', sans-serif;
	margin-right: 2em;
	margin-left: 2em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	color:#c0392b;
}
#logo {width: 35%;}
nav {
	text-align: center;
	font-weight: 700;
	line-height: 7em;
	margin-top: 2em;
}
nav ul{
	padding: 0;
}
nav ul li {
	display: inline-block;

}
#navigation a {
	font-size: 3em;
	text-decoration: none;
	background-color: #c0392b;
	border: black solid;
	color:  black;
	padding: 0.5em;
	border-radius: 3px;

	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}
#navigation a:hover {
	color: white;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}

h1{
	color:#050505;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h2{
	text-align: center;
}
form{

	font-size: 1.5em;
	padding: .5em;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	margin-top: .5em;
	margin-bottom: .5em;
	text-align: center;
}

form input{
	line-height: 2em;
}

#submit{
	background-color: #c0392b;
	font-weight: 700;
	text-transform: uppercase;
	border: 2px outset #c0392b;
	font-size: 125%;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}

#submit:hover{
	color: white;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}


a > img {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
	margin: .2em;
	overflow: visible;
}

a > img:hover{

	-webkit-transform:scale(1.06,1.06);
	-moz-transform:scale(1.06,1.06);
	-o-transform:scale(1.06,1.06);
	-ms-transform:scale(1.06,1.06);
	transform:scale(1.06,1.06);

	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;

}
#full_wrapper{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

#image_wrapper{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
#photos  a>img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  overflow: visible;
}

.full_text{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 2.5em;
}

.gallery_caption{
	display: inline-block;
}
@media (max-width: 3000px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}



